<!DOCTYPE html>
<html>
    <head>
        <title>iSurveySystem</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link href="{{STATIC_URL}}surveys/bootstrap-3.0.1-dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="{{STATIC_URL}}surveys/styles.css" rel="stylesheet" media="screen">
        <script src="//code.jquery.com/jquery-1.9.1.js"></script>
        <script src="{{STATIC_URL}}surveys/bootstrap-3.0.1-dist/js/bootstrap.js"></script>
        <script src="{{STATIC_URL}}surveys/aceeditor/ace.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
        <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        <script src="{{STATIC_URL}}surveys/js/namespace.js"></script>
        <script type="text/javascript">
            var csrfToken = '{{ csrf_token }}';
            iss.user = '{{user}}';
        </script>
        <script src="{{STATIC_URL}}surveys/js/utils.js"></script>
        <script src="{{STATIC_URL}}surveys/js/survey.js"></script>
        <script src="{{STATIC_URL}}surveys/js/surveyWidget.js"></script>
        <script src="{{STATIC_URL}}surveys/js/widget.js"></script>
        <script src="{{STATIC_URL}}surveys/js/likertWidget.js"></script>
        <script src="{{STATIC_URL}}surveys/js/textWidget.js"></script>
        <script src="{{STATIC_URL}}surveys/js/imgWidget.js"></script>
        <script src="{{STATIC_URL}}surveys/js/pageWidget.js"></script>
        <script src="{{STATIC_URL}}surveys/js/questionWidget.js"></script>
        <script src="{{STATIC_URL}}surveys/js/checkboxWidget.js"></script>
        <script src="{{STATIC_URL}}surveys/js/radioWidget.js"></script>
        <script src="{{STATIC_URL}}surveys/js/selectboxWidget.js"></script>
        <script src="{{STATIC_URL}}surveys/js/tableWidget.js"></script>
        <script src="{{STATIC_URL}}surveys/js/multipleWidget.js"></script>
        <script src="{{STATIC_URL}}surveys/js/textareaWidget.js"></script>
        <script src="{{STATIC_URL}}surveys/js/textinputWidget.js"></script>
        <script src="{{STATIC_URL}}surveys/js/iterator.js"></script>
        <script src="{{STATIC_URL}}surveys/js/permutationIterator.js"></script>
        <script src="{{STATIC_URL}}surveys/js/subsetIterator.js"></script>
        <script src="{{STATIC_URL}}surveys/js/listsToTuplesIterator.js"></script>

    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><h3 class="project_name">iSurveySystem</h3></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div class="nav navbar-nav navbar-right">
                    {% block layout_panel %}
                    {% endblock %}
                    {% block build_panel %}
                    {% endblock %}
                    {% if user.is_authenticated %}
                        <div class="navbar-left">
                            <form class="navbar-form navbar-input-group" role="search">
                                <div class="form-group">
                                    <input id="search-survey" type="text" class="form-control" placeholder="Szukaj">
                                </div>
                                <button id="open-button" type="submit" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-open"></span>
                                    Otwórz
                                </button>
                            </form>
                        </div>
                        <a href='{% url 'auth_logout' %}' class="btn btn-primary navbar-btn">Wyloguj </a>
                    {% else %}
                        <a href='{% url 'auth_login' %}' class="btn btn-primary navbar-btn">Zaloguj </a>
    
                    {% endif %}

                </div>
            </div>
        </nav>
        {% block main_content %}
        {% endblock %}
    </body>
</html>
