<!DOCTYPE html>
<html>
    <head>
        <title>MegaAnkieta</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link href="{{STATIC_URL}}surveys/bootstrap-3.0.1-dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="{{STATIC_URL}}surveys/styles.css" rel="stylesheet" media="screen">
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="{{STATIC_URL}}surveys/bootstrap-3.0.1-dist/js/bootstrap.min.js"></script>
        <script src="{{STATIC_URL}}surveys/aceeditor/ace.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
        <script src="//code.jquery.com/jquery-1.9.1.js"></script>
        <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        <script type="text/javascript">
            var csrfToken = '{{ csrf_token }}';
        </script>
        <script src="{{STATIC_URL}}surveys/js/utils.js"></script>
        <script src="{{STATIC_URL}}surveys/js/namespace.js"></script>
        <script src="{{STATIC_URL}}surveys/js/survey.js"></script>
        <script src="{{STATIC_URL}}surveys/js/widget.js"></script>
        <script src="{{STATIC_URL}}surveys/js/textWidget.js"></script>
        <script src="{{STATIC_URL}}surveys/js/pageWidget.js"></script>
        <script src="{{STATIC_URL}}surveys/js/checkboxWidget.js"></script>
        <script src="{{STATIC_URL}}surveys/js/radioWidget.js"></script>
        <script src="{{STATIC_URL}}surveys/js/selectboxWidget.js"></script>
        <script src="{{STATIC_URL}}surveys/js/textareaWidget.js"></script>
        <script src="{{STATIC_URL}}surveys/js/textinputWidget.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><h3 class="project_name">MegaAnkieta</h3></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <table class="nav navbar-nav navbar-right">
                    <tbody><tr>
                        {% block layout_panel %}
                        {% endblock %}
                    {% if user.is_authenticated %}
                        <td>
                            <form class="navbar-form navbar-left" role="search">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Szukaj">
                                </div>
                                <button type="submit" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-open"></span>
                                    Otwórz
                                </button>
                            </form>
                        </td>
                        <td>
                            <a href='{% url 'auth_logout' %}' class="btn btn-primary">Wyloguj </a>
                        </td>
                    {% else %}
                        <td>
                            <a href='{% url 'auth_login' %}' class="btn btn-primary">Zaloguj </a>

                        </td>
                    {% endif %}
                    </tr></tbody>
                </table>
            </div>
        </nav>
        {% block main_content %}
        {% endblock %}
    </body>
</html>
