label {
    width: 50%;
}

.error input {
    border-color: red;
}

.error label {
    color: red;
}

td input,
td select {
    display: block;
    margin: 0 auto !important;
}

td select {
    width: 100%;
}

th {
    text-align: center;
}
