.fill {
	width:50%;
	margin-top:42px;
}

.filler {
	width:50%;
	height:100%;
}

.row-first {
	height:500px;
}

body {
	margin-top:70px;
}

.panel, .panel-body, .tab-pane, .tab-content, #code_form {
	height:100%;
}

textarea {
	height:100%;
	width:100%;
	resize:none;
	border:none;
	background-color:white;
}

.lined {
	height:100%;
}

.project_name {
    margin: 0px;
}
